body{
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
header img{
    display: inline-block;
    width: 200px;
    height: 200px;
    box-shadow: 2px;
}
header{
    display: flex;
    justify-content: space-around;
    background: rgb(224,224,224);
    background: linear-gradient(0deg, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 100%);
}

nav ul li{
    margin-top: 50px;
    display: inline-block;
    padding: 20px 36px;
    color: black;
    font-size: 20px;
    transition: .4s;
}
nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav ul li:hover{
    background-color: #e0e0e0;
    border-radius: 5px;
    color: white;
    padding: 20px 36px;
}
.active{
    background-color: #e0e0e0;
    border-radius: 5px;
}

footer{
    background-color: #000;
}
.footer-links{
    max-width: 1000px;
    margin: 0 auto;
}
footer img{
    margin-top: 30px;
    width: 30px;
    height: 30px;
}
footer ul{
    margin: 0;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-around;
}
footer ul li{
    padding: 10px 20px;
    display: inline-block;
}
.footer-links ul li a{
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px; 
    text-align: center;
}