
.hideForm{
    display: none;
}
#myH{
    color: green;
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
    background-color: #baffba;
    padding: 20px;
    margin: 0;
    font-size: 25px;
    text-align: center;
    max-width: 400px;
}
.showMessage{
    display: block !important;
}
body{
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
header img{
    display: inline-block;
    width: 200px;
    height: 200px;
    box-shadow: 2px;
}
header{
    display: flex;
    justify-content: space-around;
    background: rgb(224,224,224);
    background: linear-gradient(0deg, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 100%);
}

nav ul li{
    margin-top: 50px;
    display: inline-block;
    padding: 20px 36px;
    color: black;
    font-size: 20px;
    transition: .4s;
}
nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav ul li:hover{
    background-color: #e0e0e0;
    border-radius: 5px;
    color: white;
    padding: 20px 36px;
}
.active{
    background-color: #e0e0e0;
    border-radius: 5px;
}

footer{
    background-color: #000;
}
.footer-links{
    max-width: 1000px;
    margin: 0 auto;
}
footer img{
    margin-top: 30px;
    width: 30px;
    height: 30px;
}
footer ul{
    margin: 0;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-around;
}
footer ul li{
    padding: 10px 20px;
    display: inline-block;
}
.footer-links ul li a{
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 24px; 
    text-align: center;
}
.container1{
    background-color: #e0e0e0;
    height: 900px;
}
.form-row{
    display: flex;
}
input[type="text"], input[type="email"], textarea{
    width: 46%;
    height: 56px;
    resize: none;
}
input[type="text"], input[type="email"], textarea{
    background-color: #ccc;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    margin: 16px; 
    outline: none;
    border: none;
    padding-left: 25px;
}
#eventtype{
    width: 100%;
}
textarea{
    height: 200px;
    width: 100%;
    padding-top: 24px;
}
input[type="submit"]{
    background-color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 85px;
    transition: .4s;
}
input[type="submit"]:hover{
    padding:   35px 95px;
}
.title-box{
    text-align: center;
}
.container1 .title-box #touch{
    font-weight: bolder;
    font-size: 72px;
    margin: 0;
}
.line{
    background-color: #000;
    width: 300px;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
